body {
  background-image: linear-gradient(135deg,#231437 0%,#2c385e 50%,#336e6b 100%);
  margin: 0px;
} 





.header {
  margin-left: 2.5%;
  text-align: left;
  color: black;
  font-size: 15px;
  font-family:  'Graphik',Helvetica,Arial,sans-serif; 
  position: fixed ;
  color: white;
  
}

.header2 {
  /* display: inline-block; */
  margin-left: 94%;
  margin-top: .09999%;
  font-size: 10px;
  font-family: 'Graphik',Helvetica,Arial,sans-serif;
  position: fixed;
  color: white;
 
}

.header2 h1 a {
  color: white;
  margin-top: .09999%;
  text-decoration: none;
  font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

.hero-banner{
  background-image: url('Assets/hulu-image.jpg');
  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2%;
}

a:visited {
  color: white;
  margin-top: .09999%;
  text-decoration: none;
  font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

.firstHeader{
  margin-top: 7%;
  margin-bottom: ;
 
  font-family:  'Graphik',Helvetica,Arial,sans-serif;
  color: white;
}

.firstHeader h1 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 100;
  
}

.firstHeader h2 {
  text-align: center;
  font-weight: 400;
  font-size: 23px;
}

.firstHeader h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}

#freeTrialButton2 {
  
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  background-color: white;
  font-size: 1rem;
  height: 4em;
  width: 18%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  
  

}



#freeTrialButton2 {
  margin-left: 41%;
  margin-top: 1%; 
}

#freeTrialButton2:hover {
  background: #d7e3f0;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.underTrialButton {
  text-align: center;
  margin-bottom: 10%;
  color: white;
  font-weight: 100;
  font-family:  'Graphik',Helvetica,Arial,sans-serif;
}

.ribbon { 
  margin-bottom: -5%;
  margin-top: -7%;
  
}

.ribbon img {
  max-width: 300px;
  height: 100px;
  margin-left: 1%;
  
}

.bundleSave {
  text-align: center;
  margin-top: -9%;
  
}

.bundleSave h3 {
  color: #2faca5;
  font-size: 15px;
  margin-right: 20.5%;
  margin-top: 2%
}

.bundleSave h1 {
  color: white;
  font-size: 20px;
  margin-left: -7%;
  margin-top: 2%
}

.bundleSave ul {
  text-align: center;
  color: rgb(142, 147, 226);
  margin-right: 33%;
}

.buttonContainer {
  margin-left: 60%;
  margin-bottom: 1.3%;
  
}

.buttonContainer h5{
  margin-left: 33%;
}

.buttonPush {
  margin-top: -8em;
}

.button {
  width: 120px;
  height: 50px;
  border: white 2px solid;
  border-radius: 4px 4px 4px 4px;
  background-color: #226786;
  color: white;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-bottom: 19%;
  margin-left: 35%;
}

.buttonTerms {
  color: rgb(142, 147, 226);
  margin-right: 20%;
 
}

.button:hover {
  background: #d7e3f0;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
cursor: pointer;

}

.selection img {
  margin-top: 1%;
  max-width: 1518px;
}

